#DefaultFretboard {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  margin: 0 auto;

  .frets {
    position: relative;
    display: flex;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    .fret {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      // gap = inline css

      &::after {
        content: "";
        position: absolute;
        width: 1px;
        transform: translateX(50%);
        background-color: black;
        right: 0;
        top: 0;
        bottom: 0;
      }

      .fretDot {
        position: absolute;
        background-color: black;
        border-radius: 50%;
      }

      .note {
        z-index: 1;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background: rgba(51, 170, 51, 0);
        border: none;
        span {
          opacity: 0;
        }
        &.selected {
          span {
            opacity: 1;
            color: white;
            background-color: blue;
          }
        }
        &:hover {
          span {
            color: white;
            background-color: blue;
          }
        }
        span {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          font-size: 11px;
          padding: 0;
          background-color: white;
          border: 1px solid black;
        }
      }

      &[data-fret="0"] {
        background-color: rgb(68, 68, 68);
        &::before {
          content: "";
          position: absolute;
          width: 1px;
          background-color: black;
          left: 0;
          top: 0;
          bottom: 0;
        }

        .note {
          // border-radius: 30%;
        }
      }
    }
  }

  #FretNumbers {
    display: flex;

    > p {
      text-align: center;
    }
  }
}
