.note {
  z-index: 1;
  background-color: white;
  cursor: pointer;
  padding: 0;
}

#standardFretboard {
  .fret {
    .note {
      position: relative;
      font-size: 11px;
      border-radius: 50%;
      border: 1px solid black;

      &:hover {
        border: 2px solid var(--option);
        outline: 1px solid var(--option);
      }
    }
  }

  .fret0 {
    .note {
      border-radius: 0;
      border-right: 2px solid black;
      border-left: 2px solid black;
    }
  }
}

#blocksFretboard {
  .string {
    .note {
      font-size: 10px;
      user-select: none;

      border: 2px solid black;
      border-radius: 10%;

      &:hover {
        border: 2px solid blue;
        outline: 1px solid blue;
      }
    }
  }
}
