.chordDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  background-color: red;

  &.exactMatch {
    background-color: green;
  }

  &.closeMatch {
    background-color: yellow;
  }

  .chordSymbol {
    display: inline-flex;
    color: orange;
    font-weight: bold;

    .additionalQuality,
    .suspension,
    .alteration {
      font-size: 0.7rem;
    }

    .suspension {
      margin-top: auto;
    }
  }

  .chordNotes {
    display: flex;
    font-weight: 600;
  }
}
