#ChordScaleIdentifier {
  position: relative;
  display: flex;
  flex-direction: column;

  .toggleSettingsButton {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  .settingsBar {
    display: flex;
    gap: 10px;
    outline: 1px solid black;
    padding: 5px 10px;
  }

  > .content {
    padding: 10px 20px;

    // .collapsible {
    //   &.chord {
    //     .header {
    //     }
    //     .content {
    //       display: flex;
    //       justify-content: space-between;
    //       flex-wrap: wrap;
    //       border: 1px solid seagreen;

    //       .filters,
    //       .chordMatch,
    //       .intervalsOverview {
    //         flex: 1;
    //       }

    //       .filters {
    //       }
    //       .chordMatch {
    //         display: flex;
    //         flex-direction: column;
    //         justify-content: center;
    //         align-items: center;
    //         margin: 0 auto;

    //         > .chordMatchMenu {
    //         }

    //         > .chord {
    //           border: 1px solid red;
    //         }
    //       }
    //       .intervalsOverview {
    //       }
    //     }
    //   }
    //   .possibleChords {
    //   }
    // }
  }
}
