#ChordIntervals {
  display: flex;

  flex-direction: column;
  gap: 2px;

  button {
    display: flex;
    justify-content: center;
    max-width: 50px;
    flex: 1;
    color: rgb(136, 136, 136, 0.5);

    &.active {
      border: 1px solid red;
      color: black;
    }
  }
  .flex-row-1,
  .flex-row-2 {
    display: flex;
    justify-content: flex-start;
    gap: 2px;
  }
}
