#MinimalFretboard {
  display: flex;
  overflow: hidden;
  margin: 0 auto;

  .fret {
    display: flex;
    flex-direction: column;
    // gap = inline css

    .note {
      cursor: pointer;

      &.selected {
        background-color: blue;
      }
    }
  }
}
