#blocks-fretboard {
  display: flex;
  flex-direction: column;
  margin: 0 auto; // does weird stuff to the scrollbar
  // border: 1px solid black;

  padding: 2px 0;

  // overflow-x: auto;
  overflow: hidden;
  touch-action: none; /* Add also this */
  // height: 500px;
  // scrollbar-width: 0;

  // &::-webkit-scrollbar {
  //   height: 0;
  //   background: transparent;
  // }

  .string {
    display: flex;
    padding: 0 1px; // Account for subpixel rendering
  }
}
