#FretboardQuickMenu {
  z-index: 10;
  display: none;
  width: 100%;
  max-width: var(--large);
  margin: 0 auto;
  padding: 0 20px;

  &.active {
    display: flex;
  }

  .settings {
    display: flex;
    gap: 8px 15px;
    flex-wrap: wrap;
    width: 100%;

    button {
      text-align: start;
      height: 25px;
      line-height: 1;
    }

    .setting {
      position: relative;
      max-width: max-content;
      display: flex;
      flex-direction: column;

      p {
        height: 16px;
        line-height: 1;
      }

      &.dropdown:hover .dropdown-content {
        display: flex;
      }
      .dropdown-content {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        display: none;
        flex-direction: column;
        min-width: min-content;
      }

      &.markNotes {
        .dropdown {
        }
        .dropdown-content {
        }
      }

      &.highlight {
        .dropdown-content {
          transform: translateX(-50%);
          border: 1px solid black;
          background-color: white;
          padding: 10px;

          #Keys {
            .notesWrapper {
              flex-direction: column;
            }
          }
        }
      }
    }
  }

  .toggleQuickMenuButton {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    height: min-content;
    padding: 0;
    background-color: white;
    margin: auto 0;
    border: none;
  }
}

// #FretboardQuickMenu {
//   display: flex;
//   max-height: 0;
//   width: 100%;
//   max-width: var(--large);
//   margin: 0 auto;
//   padding: 0 20px;
//   overflow: hidden;
//   transition: max-height 0.2s ease-out;
// }
// button {
//   cursor: pointer;
//   background-color: white;
//   border: none;
// }

// .tabNavigation {
//   display: flex;
//   flex-direction: column;
//   width: 100%;

//   .tabs {
//     display: flex;
//     justify-content: flex-start;
//     flex-wrap: wrap;
//     // gap: 0 10px;

//     .tab {
//       flex: 1;
//       text-align: start;
//       max-width: 20%;
//       min-width: 17ch;
//     }

//     .tab.active {
//       text-decoration: underline;
//     }
//   }

//   .tabContent {
//     display: flex;
//     flex-wrap: wrap;
//     gap: 10px;
//     border-top: 1px solid blue;

//     button {
//       border: none;

//       &:hover {
//         background-color: var(--selected);
//         color: white;
//       }

//       &.active {
//         color: red;
//       }
//     }
//   }
// }

// &.active {
// }
