#KeyChange {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 100%;
  max-width: var(--large);
  padding: 20px;

  .note-selection,
  .notes,
  .accidentals,
  .scaleSelection {
    display: flex;
    gap: 5px;
  }

  .note-selection {
    flex-direction: column;

    .notes {
      justify-content: center;
    }
    .accidentals {
      justify-content: center;
    }
  }
  .scaleSelection {
    justify-content: center;
  }
}
