#toolbar {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 15px;
  justify-content: space-between;

  max-width: var(--large);
  margin: 0 auto;
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    &.menus {
      .content {
        display: flex;
        gap: 1px;
      }
    }
    &.instrument {
    }
  }

  #fretCount-slider {
    input {
      max-width: 65px;
    }
  }
}

#toolbar {
  // display: flex;
  // justify-content: space-between;
  // gap: 5px 15px;
  // flex-wrap: wrap;
  // max-width: var(--large);
  // margin: 0 auto;
  // padding: 20px 15px;
  // user-select: none;
  // // border: 1px solid black;

  // //TODO: Make keychange and fretsetts adjust to maxwidth (900px)

  // h3 {
  //   font-size: 16px;
  //   font-weight: 600;
  //   user-select: none;
  // }

  // button,
  // .slider {
  //   cursor: pointer;
  //   display: flex;
  //   align-items: center;
  //   min-height: 30px;
  //   padding: 0 5px;
  //   border: 1px solid var(--option);
  //   border-radius: 3px;
  //   background-color: white;

  //   &.selected {
  //     color: white;
  //     background-color: var(--option);
  //   }
  // }

  // .frets-slider {
  //   .slider {
  //     cursor: unset;
  //     padding: 0;

  //     input {
  //       cursor: pointer;
  //       appearance: none;
  //       -webkit-appearance: none;
  //       height: 1px;
  //       background-color: black;
  //       // outline: none;

  //       &::-webkit-slider-thumb {
  //         -webkit-appearance: none;
  //         width: 20px;
  //         height: 20px;
  //         border-radius: 50%;
  //         background-color: var(--selected);
  //       }
  //     }
  //   }
  // }

  // .disabled {
  //   opacity: 0.2;

  //   button,
  //   .slider {
  //     input {
  //       user-select: none;
  //       cursor: default;
  //     }

  //     cursor: unset;
  //   }
  // }
}

// @media (max-width: 900px) {
//   #toolbar {
//     padding: 15px 15px;
//   }
// }

// @media (max-width: 600px) {
//   #toolbar {
//     padding: 10px 10px;
//   }
// }
