#toolbar {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 15px;
  justify-content: space-between;

  max-width: var(--large);
  margin: 0 auto;
  color: black;

  .toolbar-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    * {
      flex: 1;
    }
  }
}
