#TabMenu {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: var(--large);
  width: 100%;

  .tabs {
    display: flex;

    .tab {
      cursor: pointer;
      flex: 1;
      display: flex;
      justify-content: center;
      border: 1px solid var(--purple);

      &.active {
        background-color: var(--purple);
        color: white;
      }
    }
  }
  .tabContent {
    display: none;

    &.active {
      display: block;
    }
  }
}
