#standardFretboard {
  position: relative;
  display: flex;
  border: 1px solid black;
  overflow: hidden;
  height: 180px;

  .fret {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-right: 2px solid grey;

    .fretMarker {
      position: absolutWe;
      background-color: grey;
      border-radius: 50%;
    }
  }
  .fret0 {
    border-right: 2px solid black;
    border-left: 2px solid black;
  }

  .stringVisuals {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .stringVisual {
      background-color: black;
    }
  }
}
