#Fretboard {
  position: relative;
  display: flex;
  margin: 0 auto;
  resize: both;
  overflow: hidden;
  transition: all 0.1s ease;
  // border-top: 1px solid black;
  // border-bottom: 1px solid black;

  .nut {
    z-index: 25;
    position: fixed;
    display: flex;
    flex-direction: column;
    // background-color: red;
    height: 145px;
  }

  > #Strings {
    z-index: 25;
    position: absolute;
    right: 0;
    // overflow: hidden;
    display: flex;
    flex-direction: column;
    // transition: transform 0.5s ease;

    .string {
      z-index: 5;
      display: flex;
      flex: 1;

      .fret {
        .note {
          span {
          }

          &:hover {
          }
        }
      }
    }
  }
}
