.modal {
  z-index: 1000;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  // background-color: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fadeIn 0.2s ease-in forwards;

  &.fadeOut {
    animation: fadeOut 0.2s ease-in forwards;
  }

  .contentWindow {
    border: 1px solid black;
    background-color: white;
    border-radius: 3px;
    padding: 10px;

    .windowHeader {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 10px;
      border-bottom: 1px solid black;

      h4 {
        color: var(--theme);
      }
    }

    .content {
      padding: 5px 0;
    }
  }
}

@keyframes fadeIn {
  from {
    background-color: unset;
  }
  to {
    background-color: rgba(0, 0, 0, 0.65);
  }
}

@keyframes fadeOut {
  from {
    background-color: rgba(0, 0, 0, 0.65);
  }
  to {
    background-color: unset;
  }
}
