#Navbar {
  border-bottom: 1px solid black;
  background-color: var(--purple);
  padding: 3px 0;

  .flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: var(--large);
    margin: 0 auto;
    padding: 0 10px;

    .userSettings {
      display: flex;
      gap: 15px;

      .loginBtn,
      .projectsBtn {
        cursor: pointer;
        color: white;
        border: none;
        background-color: var(--purple);

        &:hover {
          color: var(--gold);
        }
      }
    }

    .wrapper {
      display: flex;

      #VolumeMixer {
        svg {
          fill: white;
        }
      }
    }
  }
}
