#VolumeMixer {
  position: relative;
  display: flex;
  align-items: center;
  max-height: 100%;

  .volumeButton {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0;
    border: none;
    background-color: var(--purple);
    // background-color: rgba(var(--purple), 1);

    svg {
      path {
        padding-left: 5px;
        margin-left: 5px;
        margin-block-start: 5px;
      }
      path.speaker {
        fill: var(--purple);
        stroke: white;
      }
      path {
        &.soundwave-1,
        &.soundwave-2,
        &.soundwave-3,
        &.soundwave-warning {
          fill: white;
        }
        &.soundwave-muted {
          stroke: white;
        }
      }

      &:hover {
        path.speaker {
          stroke: var(--gold);
        }
        path {
          &.soundwave-1,
          &.soundwave-2,
          &.soundwave-3,
          &.soundwave-warning {
            fill: var(--gold);
          }
          &.soundwave-muted {
            stroke: var(--gold);
          }
        }
      }
    }
  }

  .volumeSlider {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 1000;
    display: none;
  }

  &.expanded {
    .volumeButton {
      background-color: var(--purple);
    }

    .volumeButton {
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: 0;
      border: none;
      background-color: var(--purple);
      // background-color: rgba(var(--purple), 1);

      svg {
        path.speaker {
          stroke: var(--gold);
        }
        path {
          &.soundwave-1,
          &.soundwave-2,
          &.soundwave-3,
          &.soundwave-warning {
            fill: var(--gold);
          }
          &.soundwave-muted {
            stroke: var(--gold);
          }
        }
      }
    }

    .volumeSlider {
      display: flex;
      align-items: center;
      background-color: var(--purple);
      border-top: none;
      margin-left: -1px;
      margin-right: -1px;

      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;

      input {
        margin: 10px auto;

        writing-mode: vertical-lr;

        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          width: 18px;
          height: 18px;
          border-radius: 10px;
          background-color: var(--SliderColor);
          overflow: visible;
          cursor: pointer;
        }
      }
    }
  }
}
