.chord {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;

  > .symbol {
    display: inline-flex;
    color: #d49900;
    font-weight: bold;

    .extension,
    .additionalQuality,
    .suspension,
    .alteration {
      font-size: 0.7rem;
    }

    .suspension {
      margin-top: auto;
    }

    .alteration {
    }
  }

  > .notes {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 2px;
    font-weight: 600;

    p {
      display: flex;
      justify-content: center;
      flex: 1;
    }
  }

  > .intervals {
    display: flex;
    gap: 2px;
  }
}
